<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vista Acceso - Express - Node.js</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <% include navsitio.ejs %>
        <h1>Ingresamos a la pagina de acceso</h1>
    </body>
</html>